{% extends 'gungseo/application.html' %}
{% block content %}

<h2><b>이미지 미리보기</b></h2>
<div class="preview_wrap">
	<p class="title">이미지 업로드</p>
	<input type="file" id="input_img" />
	<div class="img_wrap">
    	<img id="img" />
  </div>
  <div class="icon">
   	<i class="fas fa-crop-alt"></i>
   	<i class="fas fa-hand-point-up"></i>
   	<i class="fas fa-times"></i>
   	<i class="fas fa-sync-alt"></i>
   	<i class="fas fa-arrow-circle-right"></i>
  </div>
  <div id="preview-pane">
    <div class="preview-container">
      <img  class="jcrop-preview" alt="Preview" />
    </div>
  </div>
</div>

 
<h1>New File</h1>
<form method="post" action={% url 'result' %} enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

<script type="text/javascript">
	var sel_file, target, resize_flag;
  // crop variable 선언
  var jcrop_api=null, boundx, boundy,
    $preview = $('#preview-pane'),
    $pcnt = $('#preview-pane .preview-container'),
    $pimg = $('#preview-pane .preview-container img'),
    xsize = $pcnt.width(),
    ysize = $pcnt.height();

	$(document).ready(function(){
    $(".img_wrap").hide();
		// imageUpload & preview
		$("#input_img").on("change", handleImgFileSelect);

		// image remove
		$(".fa-times").click(function(){
      if(jcrop_api != null){
        jcrop_api.destroy();
        jcrop_api = null;
      }
      if(resize_flag == true){
        $("#img").resizable('destroy');
        $("#img").height(300);
        $("#img").width(300);
        resize_flag = false;
      }
      $("#img").removeAttr('src');
			$("#input_img").val("");
      $("#input_img").show();
      $(".img_wrap").hide();
    });
		
		// image refreshing
		$(".fa-sync-alt").click(function(){
      if(jcrop_api != null){
        jcrop_api.destroy();
        jcrop_api = null;
      }
      if(resize_flag == true){
        $("#img").resizable('destroy');
        $("#img").height(300);
        $("#img").width(300);
      }
      $("#img").attr("src", target);
      
    });

    // image crop
    $(".fa-crop-alt").click(function(){
      if(jcrop_api == null){
        $("#img").Jcrop({
          onChange: updatePreview,
          onSelect: updatePreview,
          bgOpacity: 0.5,
          setSelect: [0,0,50,50]
        },function(){
        // Use the API to get the real image size
          var bounds = this.getBounds();
          boundx = bounds[0];
          boundy = bounds[1];

          jcrop_api = this; // Store the API in the jcrop_api variable
          // Move the preview into the jcrop container for css positioning
          // $preview.appendTo(jcrop_api.ui.holder);
        });
      }
    });
    // image resizing
    $(".fa-hand-point-up").click(function(){
      if(jcrop_api != null){
        // 크롭중에는 리사이징 불가
      }
      else{
        resize_flag = true;
        $( "#img" ).resizable({
        containment: ".img_wrap"});
      }
    });
	});

	function handleImgFileSelect(e){
		var files = e.target.files;
		var filesArr = Array.prototype.slice.call(files);
		filesArr.forEach(function(f){
			if(!f.type.match("image.*")){
				alert("확장자는 이미지 확장자만 가능합니다.");
				return;
			}
			sel_file = f;
			var reader = new FileReader();
			reader.onload = function(e){
        target = e.target.result;
				$("#img, img.jcrop-preview, .jcrop-holder img").attr("src", target);
        $("#input_img").hide();
        $(".img_wrap").show();
			}
			reader.readAsDataURL(f);
		});
	}

  function updatePreview(c) {
    if (parseInt(c.w) > 0) {
      var rx = xsize / c.w;
      var ry = ysize / c.h;
        
      $('#x').val(c.x);
      $('#y').val(c.y);
      $('#w').val(c.w);
      $('#h').val(c.h);

      $pimg.css({
        width: Math.round(rx * boundx) + 'px',
        height: Math.round(ry * boundy) + 'px',
        marginLeft: '-' + Math.round(rx * c.x) + 'px',
        marginTop: '-' + Math.round(ry * c.y) + 'px'
      });
    }
  }
</script>

<!-- 좌표값알아내기, 이미지크롭하면서 리사이징 -->
{% endblock %} 
