{% extends 'gungseo/application.html' %}
{% block content %}

<h2><b>이미지 미리보기2222</b></h2>
<div class="preview_wrap">
	<p class="title">이미지 업로드</p>
	<input type="file" id="input_img" />
	<div class="img_wrap">
    	<img id="img" />
   </div>
</div>

<script type="text/javascript">
	var sel_file;

	$(document).ready(function(){
		$("#input_img").on("change", handleImgFileSelect);
	});

	function handleImgFileSelect(e){
		var files = e.target.files;
		var filesArr = Array.prototype.slice.call(files);

		filesArr.forEach(function(f){
			if(!f.type.match("image.*")){
				alert("확장자는 이미지 확장자만 가능합니다.");
				return;
			}

			sel_file = f;

			var reader = new FileReader();
			reader.onload = function(e){
				$("#img").attr("src", e.target.result);
			}
			reader.readAsDataURL(f);
		});
	}
</script>
{% endblock %} 